# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# R extension
*.RData
*.Rhistory

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Database
db.sqlite3

# Project specific locations
csv
.gitignore
summary/*
csv/*
curation/*
fasta/*
*-annotated/*
shiny/LTEE-clone-curated.tsv
